<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function disableBtn(key) {
            document.getElementById(key).style.background = "gray";
            document.getElementById(key).disabled = true;
        }
    </script>
  </head>
  <body>
    <div style="text-align:center">
      <h2>Pause or resume the scheduler</h2>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <form action="{{ url_for('admin') }}" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="pause">
                Pause scheduler
                </br>
            </button>
            <input type="hidden" name="action" value="pause">
        </form>
          <br>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <form action="{{ url_for('admin') }}" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="resume">
                Resume scheduler
                </br>
            </button>
            <input type="hidden" name="action" value="resume">
        </form>
          <br>
      </div>
      <a href="https://docs.google.com/spreadsheets/d/12PUFdB_UzdrVXraumL664cHLQtrOiq2dYQZW6vAxT5I/edit?usp=sharing">
        Click here to edit the schedule manually
      </a>
    </div>
  </body>
</html>
