<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function disableBtn(key) {
            document.getElementById(key).style.background = "gray";
            document.getElementById(key).disabled = true;
        }
        </script>
        <!--
        <script type="text/javascript">
          function sendAsyncPost(en, k) {
            $("#your-form").submit(function(e) {
            e.preventDefault(); // Prevent the normal form submit

            $.ajax({
                   type: "POST",
                   url: '/shifts/' + en + '?row=' + k,
                   data: $("#your-form").serialize(),
                   success: function(data) {
                       $('#myModal' + k).modal('toggle'); //or  $('#IDModal').modal('hide');
                       alert('Success!')
                   }
                 });
        });
        }
    </script>
  -->
  </head>
  <body>
    <div style="text-align:center">
      <h2>Call Schedule</h2>
      {% with messages = get_flashed_messages() %}
	       {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              {{ message }}
            </div>
            {% endfor %}
	       {% endif %}
	     {% endwith %}
      <div class="col-md-12 col-sm-12 col-xs-12">
        <button type=type="submit" class="btn btn-primary btn-lg btn-block" id="give-shift" data-toggle="modal" data-target="#employees-modal">
            Click here if someone is taking your shift
        </button>
        <br>
        {% for key,value in shifts.iterrows() %}
            <button type="submit" class="btn btn-primary btn-lg btn-block" id={{key}} data-toggle="modal" data-target="#myModal{{key}}">
                {{value['Day'] + ' ' + value['Date'] + ' ' + value['Time']}}
                </br>
                {% if value['OnCall'] %}
                {{ value['OnCall'] }}
                <script>
                    disableBtn({{key|string}});
                </script>
                {% endif %}
            </button>
          <br>
        {% endfor %}
      </div>
    </div>

    {% for key,value in shifts.iterrows() %}
    <div id="myModal{{key}}" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirm your shift</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want this shift?
              {{value['Day'] + ' ' + value['Date'] + ' ' + value['Time']}}</p>
          </div>
          <div class="modal-footer">
            <form action = {{ url_for('shifts', row=key, payload=employeeNum) }} id="your-form" method=post>
                <button type="submit" class="btn btn-default" id=mb{{key}}>
                    Yes
                </button>
                <input type="hidden" name="row" value="{{ key }} ">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  No
                </button>
            </form>
          </div>
        </div>

      </div>
    </div>
    {% endfor %}
    <div id="employees-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Who are you giving your shift to?</h4>
          </div>
          <div class="modal-body">
            {% for key,value in employees.iterrows() %}
            <form action = {{ url_for('give', row=key, payload=employeeNum) }} id="give-form" method=post>
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                {{ value['Name'] }}
                <br>
                {{ key }}
              </button>
              <input type="hidden" name="row" value="{{ key }} ">
            </form>
            <br>
            {% endfor %}
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Cancel
                </button>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
